* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif ;

    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

#testimonials {
    background-color: hsl(214, 17%, 92%);
}

#Daniel {
    color: hsl(0, 0%, 100%);
    background-color: hsl(263, 55%, 52%);

    margin: 2rem 2rem 1rem 2rem;
}

#Daniel .wrapper {
    
}

#Daniel img {

}

#Daniel h3 {

}

#Daniel h4 {

}

#Daniel .headline {

}

#Daniel .bio {

}

#Jonathon {
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 19%, 35%);
}

#Jonathon .wrapper {

}

#Jonathon img {

}

#Jonathon h3 {

}

#Jonathon h4 {

}

#Jonathon .headline {

}

#Jonathon .bio {

}

#Jeanette {
    background-color: hsl(0, 0%, 100%);
    color: hsl(224, 10%, 45%);
}

#Jeanette .wrapper {

}

#Jeanette img {

}

#Jeanette h3 {

}

#Jeanette h4 {

}

#Jeanette .headline {

}

#Jeanette .bio {

}

#Patrick {
    color: hsl(214, 17%, 92%);
    background-color: hsl(219, 29%, 14%);
}

#Patrick .wrapper {

}

#Patrick img {

}

#Patrick h3 {

}

#Patrick h4 {

}

#Patrick .headline {

}

#Patrick .bio {

}

#Kira {
    background-color: hsl(0, 0%, 100%);
    color: hsl(224, 10%, 45%);
}

#Kira .wrapper {

}

#Kira img {

}

#Kira h3 {

}

#Kira h4 {

}

#Kira .headline {

}

#Kira .bio {

}